<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bacikal - 加入我们</title>

    <!-- 前置插件 -->
    <script src="depandencies/jquery.min.js"></script>
    <script src="depandencies/vue.js"></script>
    <script src="depandencies/tooltip.js" type="model"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="depandencies/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    
    <!-- 初始化提示工具 -->
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <!-- 自定义脚本 -->
    <script src="js/data/global-data.js"></script>
    <script src="js/utils/InputObject.js"></script>
    
    <style>
        /* .bg{
            position: absolute;
            height: 0px;
            z-index: -1;
            background-color: brown;
        }
        .bg-left{
            left: -170px;
            bottom: 607px;
        }
        .bg-right{
            right: 0px;
            bottom: 517px;
        } */
        .container{
            position: relative;
            width: 70%;
            top: 50px;
        }
        .left{
            float: left;
            height: 0px;
            width: 50%;
            /* width: 600px; */
            margin-top: 50px;
            margin-left: -50px;
        }
        .info{
            float: right;
            width: 40%;
            margin: 50px 50px 50px auto;
            border-radius: 15px;
            box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
        }
        .info .panel-body{
            width: 60%;
            margin: 70px auto 70px auto;
        }
        .gender{
            margin-top: 20px;
        }
        .link-login{
            float: right;
            margin-top: 15px;
        }
        .btn-register{
            margin: 100px auto 0px auto;
        }
    </style>
</head>
<body>
    <!-- <div class="bg bg-left">
        <img src="svg/undraw_join_of2w.svg" />
    </div> -->
    <!-- <div class="bg bg-right">
        <img src="svg/undraw_thoughts_re_3ysu.svg" />
    </div> -->
    <div class="container">
        <div class="page-header">
            <h1>Bacikal <small>注册新用户</small></h1>
        </div>

        <div class="left">
            <img src="svg/undraw_thoughts_re_3ysu.svg" width="800"/>
        </div>

        <div class="info panel panel-default">
            <div class="panel-body">
                <!-- 用户名 -->
                <div class="username form-group has-feedback">
                    <label class="control-label" for="inputSuccess2" data-toggle="tooltip" data-placement="right">用户名</label>
                    <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" v-model="username.val">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                </div>

                <!-- 密码 -->
                <div class="password form-group has-feedback">
                    <label class="control-label" for="inputWarning2" data-toggle="tooltip" data-placement="right">密码</label>
                    <input type="password" class="form-control" id="inputWarning2" aria-describedby="inputWarning2Status" v-model="password.val">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="inputError2Status" class="sr-only">(error)</span>
                </div>

                <!-- 确认密码 -->
                <div class="password-confirm form-group has-feedback">
                    <label class="control-label" for="inputError2" data-toggle="tooltip" data-placement="right">确认密码</label>
                    <input type="password" class="form-control" id="inputError2" aria-describedby="inputError2Status" v-model="confirm.val">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="inputError2Status" class="sr-only">(error)</span>
                </div>

                <!-- 收货地址 -->
                <div class="form-group has-feedback">
                    <label class="control-label" for="inputGroupSuccess1">收货地址 [选填]</label>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" v-model="address">
                    </div>
                </div>
                
                <!-- 性别 -->
                <div class="gender checkbox">
                    <strong>性别</strong>
                    <label>
                        <input type="radio" id="checkboxSuccess" name="gender" value="保密" v-model="gender">
                        保密哟
                    </label>
                    <label>
                        <input type="radio" id="checkboxSuccess" name="gender" value="男" v-model="gender">
                        男孩纸
                    </label>
                    <label>
                        <input type="radio" id="checkboxSuccess" name="gender" value="女" v-model="gender">
                        女孩纸
                    </label>
                </div>

                <label class="link-login">
                    <a href="login.html">已有账户， 前往登录</a>
                </label>
                
                <div class="btn-register">
                    <button type="button" class="register btn btn-primary btn-lg btn-block">
                        注册
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
        </div>
    </div>

    <script>
        var vue = new Vue({
            el: '.panel-body',
            data() {
                return {
                    username: {
                        val: '',
                        state: false
                    },
                    password: {
                        val: '',
                        state: false
                    },
                    confirm: {
                        val: '',
                        state: false
                    },
                    gender: '保密',
                    address: ''
                }
            }
        })
    </script>
    <script src="js/register.js"></script>
</body>
</html>